.css_03_exercicio_bullet {
  display: block;
  font-family: $font-noticia-text-regular;
  color: #505050;
  line-height: 1.5em;
  font-size: 18px;
  margin: 16px 68px 16px 88px;
  ul li{
    padding-left: 0px;
  }
}