.css_01_titulo_cap_num {
  display: block;
  color: transparent;
  font-size: 400px;
  font-family: $font-barlow-condensed-bold;
  -webkit-text-stroke-color: #FFFFFF;
  -webkit-text-stroke-width: 2px;
  margin: 40px 68px 0px 68px;
  padding: 0px 0px 16px 0px;
}