.css_01_bullet_unid {
  display: block;
  font-size: 16px;
  color: #FFFFFF;
  font-family: $font-noticia-text-regular;
  margin: 0px 28px 24px 13px;
  line-height: 1.5em;
  border-left: solid 2px #FFFFFF;
  padding-left: 10px;
}