.css_02_texto_bullet {
  ul li{
    font-size: 18px;
    color: #404040;
    font-family: $font-noticia-text-regular;
    margin: 8px 68px 8px 50px;
    line-height: 1.5em;
    padding-left: 4px;
  }
}