/* Image component style */
.image_popup {
    position: relative;
    width: 100%;
    margin: 50px 0;
    float: left;
    transition: all .3s;
    
    &.__ready {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 0.33s, opacity 0.33s linear;
        position: absolute;
        left: -99999px;
    }
    
    &.popup_actived {
        position: fixed;
        margin: 0;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000000bf;
        visibility: visible;
        transition-delay: 0s;
        z-index: 999;
        opacity: 1;
        
        .image_popup__content {
            height: 100%;
            
            .image_popup__img {
                display: inline-table !important;
                width: 100%;
                height: 100% !important;
                position: relative;
                
                .image_popup__text {
                    height: 100%;
                    padding: 0 34%;
                    display: table-cell;
                    vertical-align: middle;
                    color: #fff;
                    font-size: 25px;
                    position: relative;           
                }
            }
        }
    }
    
    .image_popup__content {
        a {
            width: 25px;
            height: 25px;
            display: block;
            background-image: url('img/btn-modal-close.png');
            position: absolute;
            z-index: 9;
            right: 20px;
            top: 15px;
        }
        
        .image_popup__img {
            position: relative;
            width: 300px;
            height: 300px !important;
            padding: 0 !important;
            background-position: center center !important;
            background-size: cover;
            overflow: inherit !important;
            
            .image_popup__text {
                font-size: 12px;
                font-weight: bold;
                width: 100%;
                text-transform: uppercase;
                box-sizing: border-box;
                padding: 0 0 10px 0;
                position: absolute;
                top: -30px;
            }
        }
    }
}
